<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="data">ENTER YOUR DATA</div>
    <p class="Texts">Enter your name:</p>
    <table>
        <form method="POST" action="/submit">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Submit</button>
        </form>
    </table>
    <p class="Texts">Delete name: </p>
    <table>
        <form method="POST" action="/delete-name">
            <label for="delname">Delete name: </label>
            <input type="text" id="delname" name="delname">
            <button type="submit">Submit</button>
        </form>
    </table>
    <p class="Texts">
        Meanwhile, check out
        <a class="hyperlinks" href="https://github.com/SafalKarkey"> my Github page</a><br>
    </p>

</body>